
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Login", "Login", FormMethod.Get))
            {


            
        <form class="mt-5">
            <h3 class="mb-4">Inserisci i dati per il login:</h3>
            @if (TempData["login"]!=null)
            {
                    <div class="text-danger">CREDENZIALI ERRATE</div>

            
            }
            <div class="form-group">

                <label for="User">Username:</label>
                <input id="User" name="User" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input id="Password" name="Password" type="password" class="form-control" />
            </div>
            <button>Login</button>
        </form>
        }

