
@{
    ViewBag.Title = "AddUser";
}


@using (Html.BeginForm("AddUser", "Home", FormMethod.Get))
{
    <div>
        <button name="UserType" value="Privato">Privato</button>


        <button name="UserType" value="Azienta">P. Iva</button>
    </div>
}

@{
    if (ViewBag.user == "Privato")
    {
        using (Html.BeginForm("AddPrivato", "Home", FormMethod.Post))
        {
            <form asp-controller="Home" asp-action="Add" method="post" class="mt-5">
                <h3 class="mb-4">Inserisci nuova anagrafica:</h3>
                <div class="form-group">
                    <label for="Nome">Nome:</label>
                    <input id="Nome" name="Nome" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Cognome">Cognome:</label>
                    <input id="Cognome" name="Cognome" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="CFiscale">Codice Fiscale:</label>
                    <input id="CFiscale" name="CFiscale" type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Citta">Città:</label>
                    <input id="Citta" name="Citta" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Cap">Cap:</label>
                    <input id="Cap" name="Cap" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Indirizzo">Indirizzo:</label>
                    <input id="Indirizzo" name="Indirizzo" type="text" class="form-control" />
                </div>
                <button>Invia Dati</button>
            </form>
        }

    }
    else
    {
        using (Html.BeginForm("AddPiva", "Home", FormMethod.Post))
        {
            <form asp-controller="Home" asp-action="Add" method="post" class="mt-5">
                <h3 class="mb-4">Inserisci nuova anagrafica:</h3>
                <div class="form-group">
                    <label for="RagioneSociale">Ragione Sociale:</label>
                    <input id="RagioneSociale" name="RagioneSociale" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="PIva">Partita Iva:</label>
                    <input id="PIva" name="PIva" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Citta">Città:</label>
                    <input id="Citta" name="Citta" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Cap">Cap:</label>
                    <input id="Cap" name="Cap" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Indirizzo">Indirizzo:</label>
                    <input id="Indirizzo" name="Indirizzo" type="text" class="form-control" />
                </div>
                <button>Invia Dati</button>
            </form>
        }

    }
}




